// =========================================================================
// 02 - BORDER - border.scss
// =========================================================================


// Border radius
$border-radius-sharp: 0 !default;
$border-radius-small: 4px !default;
$border-radius-default: 6px !default;
$border-radius-large: 8px !default;
$border-radius-pill: 20em !default;
$border-radius-circle: 50% !default;

// Border size
$border-size-default: 1px !default;
$border-size-fat: 2px !default;

// Border style
$border-style-primary: solid !default;