// =========================================================================
// 02 - COLORS - colors.scss
// =========================================================================


$color-black: #000;
$color-white: #fff;

$color-neutral-100: #f5f5f5;
$color-neutral-150: #e6e6e6;
$color-neutral-200: #d8d8d8;
$color-neutral-300: #868c82;
$color-neutral-500: #5a5a5a;
$color-neutral-600: #343a40;
$color-neutral-700: #212529;

$color-primary-100: #f5faff;
$color-primary-200: #ecf1f9;
$color-primary-250: #e5f2ff;
$color-primary-300: #b3daff;
$color-primary-400: #67b5ff;
$color-primary-500: #0284ff;
$color-primary-600: #004a93;
$color-primary-700: #003660;