/*------------------------------------*\
  #FONTS
\*------------------------------------*/

@font-face {
  font-family: 'Work Sans', sans-serif;
  font-display: fallback;
  src: url(/assets/fonts/WorkSans-Regular.woff2) format("woff2");
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

@font-face {
  font-family: 'Work Sans', sans-serif;
  font-display: fallback;
  src: url(/assets/fonts/WorkSans-Italic.woff2) format("woff2");
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Work Sans', sans-serif;
  font-display: fallback;
  src: url(/assets/fonts/WorkSans-Medium.woff2) format("woff2");
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
}

@font-face {
  font-family: 'Work Sans', sans-serif;
  font-display: fallback;
  src: url(/assets/fonts/WorkSans-SemiBold.woff2) format("woff2");
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
}
@font-face {
  font-family: 'Work Sans', sans-serif;
  font-display: fallback;
  src: url(/assets/fonts/WorkSans-Bold.woff2) format("woff2");
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
}