/*------------------------------------*\
// 02 - SPACING - spacing.scss
\*------------------------------------*/

$spacing-0:  0px !default;
$spacing-1:  2px !default;
$spacing-2:  4px !default;
$spacing-3:  8px !default;
$spacing-4:  12px !default;
$spacing-5:  16px !default;
$spacing-6:  24px !default;
$spacing-7:  32px !default;
$spacing-8:  40px !default;
$spacing-9:  48px !default;
$spacing-10: 64px !default;