/*------------------------------------*\
  #TYPOGRAPHY SETTINGS
\*------------------------------------*/

$font-size-root: 16px;
$line-height-root: 1.5;

$font-family: 'Work Sans', sans-serif;

$font-weight-values: (
    regular: 400,
    medium: 500,
    semibold: 600,
    bold: 700,
);


/* || Typography scale */
// https://www.codementor.io/@ricardozea/100-responsive-typography-system-using-a-modular-scale-s5rhft58g

$font-size-1: 0.625rem !default;
$font-size-2: 0.75rem !default;
$font-size-3: 1rem !default;
$font-size-4: 1.125rem !default;
$font-size-5: 1.25rem !default;
$font-size-6: 1.5rem !default;
$font-size-7: 1.75rem !default;
$font-size-8: 2rem !default;
$font-size-9: 2.5rem !default;
$font-size-10: 3.25rem !default;

