/* ============================================================================
   05 - COMPONENTS - Button.scss
   ========================================================================= */
/**
 * Short component description. Components are designed with Mobile First idea
 */

/* Component structure

  .Button

  .Button__content
  .Button__icon
  .Button__image
  .Button__body

  .Button--small
  .Button--medium
  .Button--large

  .Button.is-open
  .Button.has-icon

 */

// Component local variables
//--------------------------------------------------------------------------
$button-padding: 0.25em;

// Block
//--------------------------------------------------------------------------
.button {
  position: relative;
  display: table;
  margin: auto;
  padding: 0.5em 0.85em;
  border-radius: 4px;
  background: $primary-normal;
  color: $white;
  font-weight: $fw-bold;
  text-decoration: none;
  transition: background 0.5s ease;

  // Mobile-first responsive component changes
  @include respond(sm) {
    padding: 0.75em $button-padding * 2;
  }
  @include respond(md) {
    padding: 1em $button-padding * 3;
  }
  @include respond(lg) {
    padding: 1.25em $button-padding * 4;
  }
  @include respond(xl) {
    padding: 1.5em $button-padding * 5;
  }
  @include respond(xxl) {
    padding: 1.75em $button-padding * 6;
  }

  // Pseudo elements (::before, ::after and all others)
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -10px;
    left: 0;
    background: $primary-light;
  }

  // hover, active, focus and other states
  &:hover {
    background: $primary-dark;
  }

  // States based on SMACSS
  &.is-open {
    height: auto;
  }
  &.has-icon {
    padding: $button-padding / 2;
  }
}

// Elements
//--------------------------------------------------------------------------
.button {
  &__content {
    display: flex;
    align-items: center;
  }
  &__icon {
    padding-right: 0.5em;
  }
  &__image {
    display: block;
    max-width: 25px;

    @include respond(sm) {
      max-width: 35px;
    }
    @include respond(md) {
      max-width: 45px;
    }
    @include respond(lg) {
      max-width: 55px;
    }
    @include respond(xl) {
      max-width: 65px;
    }
  }
  &__body {
    font-size: 1rem;

    @include respond(sm) {
      font-size: 1.25rem;
    }
    @include respond(md) {
      font-size: 1.5rem;
    }
    @include respond(lg) {
      font-size: 1.75rem;
    }
    @include respond(xl) {
      font-size: 2rem;
    }
  }
}

// Modifiers
//--------------------------------------------------------------------------
.button {
  $block: &;

  &--small {
    padding: 0.25em 0.5em;
    font-size: 0.75rem;

    #{$block}__icon {
      padding-right: 0.25em;
    }
  }
  &--medium {
    // property: value;
  }
  &--large {
    // property: value;
  }
}
