/* ============================================================================
   05 - COMPONENTS - Button.scss
   ========================================================================= */
/**
 * Short component description. Components are designed with Mobile First idea
 */

/* Component structure

  .Button

  .Button__icon
  .Button__body
  .Button__append

  .Button--small
  .Button--medium
  .Button--large

  .Button.is-open
  .Button.has-icon

 */

// Component local variables
//--------------------------------------------------------------------------
$button-padding: 0.25em;

// Block
//--------------------------------------------------------------------------
.button {
  // declarations
  padding: $button-padding;


  // Mobile-first responsive component changes
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(lg) {
  }
  @include media-breakpoint-up(xl) {
  }
  @include media-breakpoint-up(xxl) {
  }

  // Pseudo elements (::before, ::after and all others)
  &::before {
  }

  // hover, active, focus and other states
  &:hover {
  }

  // States based on SMACSS
  &.is-opened {
    height: auto;
  }
}

// Elements
//--------------------------------------------------------------------------
.button {

  &__icon {
  }
  &__body {
  }
  &__append {
  }

}

// Modifiers
//--------------------------------------------------------------------------
.button {
  $block: &;

  &--small {

    // Modifier of element
    #{$block}__icon {
      padding-right: .25em;
    }
  }
  &--medium {
  }
  &--large {

  }
}
