// Search form

/* Component structure
  .m-search-form
 */


// Block
//--------------------------------------------------------------------------
.m-search-form {
  display: flex;
  & .a-button {
    margin-left: 8px;
  }
  & .a-label {
    margin-bottom: 4px;
  }
}
