// Base element settings

@at-root {
  @-ms-viewport {
    width: device-width;
  }
}

html {
  scroll-behavior: smooth;
  -ms-overflow-style: scrollbar;
}

// Headings

h1 {
  font-size: $font-size-xl;
}

h2 {
  font-size: $font-size-lg;
}

h3 {
  font-size: $font-size-md;
}

h4 {
  font-size: $font-size-sm;
}

h5 {
  font-size: $font-size-xs;
}

h6 {
  font-size: $font-size-xxs;
}

// Paragraphs

p {
  font-size: $font-size-xs;
  line-height: $line-height-root;
}