// =========================================================================
// TYPOGRAPHY
// =========================================================================


//
// Headings
// ===========
h1 {
  font-size: $font-size-huge;
}

h2 {
  font-size: $font-size-xx-large;
}

h3 {
  font-size: $font-size-x-large;
}

h4 {
  font-size: $font-size-large;
}

h5 {
  font-size: $font-size-medium;
}

h6 {
  font-size: $font-size-small;
}

//
// Paragraph
// ===========
p {
  font-size: $font-size-small;
  line-height: 1.5;
}