// Header

/* Component structure
  .o-header
  .o-header__logo
  .o-header__menu
  .o-header__search
 */


// Block
//--------------------------------------------------------------------------
.o-header {
  display: flex;
  justify-content: space-between;
  &__logo {
    max-width: 12em;
  }
  &__menu {
    font-size: 1rem;
  }
  &__search { // overriding molecule .m-search-form styles or adding new ones
    margin-top: 10px;
  }
}
