/* ============================================================================
   Modal
   ========================================================================= */


/**
 * Short organism description.
 */
 

/* Component structure

  .o-header
  .o-header__logo
  .o-header__menu
  .o-header__search-form

 */


// Block
//--------------------------------------------------------------------------
.o-modal {
  display: flex;
  justify-content: space-between;
  &__logo {
    max-width: 12em;
  }
  &__menu {
    font-size: 1rem;
  }
  &__input-box { // overriding molecule InputButtonBox styles or adding new ones
    margin-top: 10px;
  }
}
