/* Grid settings and behaviour
==============================
*/

.grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
  }
  
  .grid-container {
      grid-column: 1 / 13;
  }