// Color pallete

$color-black: hsl(0, 0%, 0%);
$color-white: hsl(0, 0%, 100%);

$color-brand-lighter: hsl(235, 100%, 87%);
$color-brand-light: hsl(235, 100%, 77%);
$color-brand-normal: hsl(235, 100%, 68%);
$color-brand-dark: hsl(235, 47%, 48%);
$color-brand-darker: hsl(235, 48%, 27%);