$font-size-root: 16px;
$line-height-root: 1.5;

$font-family: 'Poppins', sans-serif;

$font-weight-values: (
    light: 300,
    regular: 400,
    semibold: 700,
    bold: 800,
);


// Typography modular scale
// https://www.codementor.io/@ricardozea/100-responsive-typography-system-using-a-modular-scale-s5rhft58g

$font-size-xxxs: 0.694rem !default;
$font-size-xxs: 0.833rem !default;
$font-size-xs: 1rem !default;
$font-size-sm: 1.2rem !default;
$font-size-md: 1.44rem !default;
$font-size-lg: 1.728rem !default;
$font-size-xl: 2.074rem !default;
$font-size-xxl: 2.488rem !default;
$font-size-xxxl: 2.986rem !default;

