
// =========================================================================
// 02 - SETTINGS - color-settings.scss
// =========================================================================


/*
  Complete pallete with all basic colors sets from 0 to 1000 according to the shade.
  Adding new color is allowed by adding at least value 50 (gray-650, gray-900)
*/


// Gray
//--------------------------------------------------------------------------
$gray-200: hsl(0, 0%, 85%) !default;
$gray-300: hsl(96, 4%, 53%) !default;
$gray-500: hsl(0, 0%, 35%) !default;
$gray-600: hsl(210, 10%, 23%) !default;

// Blue
//--------------------------------------------------------------------------
$blue-200: hsl(217, 52%, 95%) !default;
$blue-300: hsl(209, 100%, 85%) !default;
$blue-400: hsl(209, 100%, 70%) !default;
$blue-500: hsl(209, 100%, 50%) !default;
$blue-600: hsl(210, 100%, 29%) !default;
$blue-700: hsl(206, 100%, 19%) !default;

// Green
//--------------------------------------------------------------------------
$green-200: hsl(168, 56%, 87%) !default;
$green-400: hsl(168, 57%, 50%) !default;

// Orange
//--------------------------------------------------------------------------
$orange-300: hsl(41, 99%, 67%) !default;
$orange-500: hsl(36, 100%, 59%) !default;

// Red
//--------------------------------------------------------------------------
$red-400: hsl(6, 100%, 65%) !default;
$red-600: hsl(350, 100%, 62%) !default;

// Purple
//--------------------------------------------------------------------------
$purple-200: hsl(288, 62%, 81%) !default;
$purple-400: hsl(288, 63%, 58%) !default;
$purple-600: hsl(288, 100%, 39%) !default;