// =========================================================================
// 01 - SETTINGS - grid-settings.scss
// =========================================================================

// Grid breakpoints
//--------------------------------------------------------------------------
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

// Grid container max-widths
//--------------------------------------------------------------------------
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
) !default;

// Grid settings
//--------------------------------------------------------------------------
$grid-columns: 12 !default;
$grid-gutter-width-base: 30px !default;
