// =========================================================================
// 01 - SETTINGS - spacing-settings.scss
// =========================================================================

/*
  Spacing variable setings 

  Spacing is based on 4px spacing using which is multiplied
*/

// Spacing units for all web components
//--------------------------------------------------------------------------
$spacing-1:  4px !default;
$spacing-2:  8px !default;
$spacing-3:  12px !default;
$spacing-4:  16px !default;
$spacing-5:  20px !default;
$spacing-6:  24px !default;
$spacing-7:  28px !default;
$spacing-8:  32px !default;
$spacing-9:  36px !default;
$spacing-10: 40px !default;


// Spacing settings for utility mixin (mt-1, pl-lg-2 etc.)
//--------------------------------------------------------------------------
$spacer:   4px !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: $spacer-x,
    y: $spacer-y
  ),
  2: (
    x: ($spacer-x * 2),
    y: ($spacer-y * 2)
  ),
  3: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  ),
  4: (
    x: ($spacer-x * 4),
    y: ($spacer-y * 4)
  ),
  5: (
    x: ($spacer-x * 5),
    y: ($spacer-y * 5)
  )
) !default;
