/* RAW HTML Elements
==============================
*/

/* || General styles */

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;

  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Box model set to border-box with inheriting */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  height: auto;
}

/* using fluid images https://www.zachleat.com/web/fluid-images/ */
img[width] {
  width: auto; /* Defer to max-width */
}
img[width][height] {
  height: auto; /* Preserve aspect ratio */
}

/* Let SVG scale without boundaries */
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

input[type='number'] {
  -moz-appearance: textfield;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
