/* Component structure
==============================
  .a-button

  .a-button__icon
  .a-button__label
  .a-button__append

  .a-button--small
  .a-button--medium
  .a-button--large

  .a-button.is-active
*/

@use '../../../modules/tools/breakpoint';

// Component local variables
//--------------------------------------------------------------------------
$button-padding: 0.25em;


// Block
//--------------------------------------------------------------------------
.a-button {
  padding: $button-padding;
  background: #ffcc00;

  // Mobile-first responsive component changes
  @include breakpoint.up(sm) {
  }
  @include breakpoint.up(md) {
  }
  @include breakpoint.up(lg) {
  }
  @include breakpoint.up(xl) {
  }


  // Pseudo elements (::before, ::after and all others)
  &::before {
  }

  // hover, active, focus and other states
  &:hover {
  }

  // States based on SMACSS
  &.is-active {
  }
}

// Elements
//--------------------------------------------------------------------------
.a-button {
  &__icon {
  }
  &__label {
  }
  &__append {
  }
}

// Modifiers
//--------------------------------------------------------------------------
.a-button {
  $block: &;

  &--small {
    #{$block}__icon {
      padding-right: 0.25em;
    }
  }
  &--medium {

  }
  &--large {

  }
}
