// =========================================================================
// LAYOUT (classes starts with prefix .l-)
// =========================================================================

.l-wrap {
  padding-left: 1em;
  padding-right: 1em;

  @include media-breakpoint-up(sm) {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}