/* ============================================================================
   Header
   ========================================================================= */


/**
 * Short pattern description. 
 */
 

/* Pattern structure

  .p-Header
  .p-Header__input
  .p-Header__button

 */


// Block
//--------------------------------------------------------------------------
.p-Header {
  display: flex;
}

// Elements
//--------------------------------------------------------------------------
.p-Header {
  &__input {
    border: 1px solid #ccc; // overriding default Input component
  }
  &__button {
    margin-left: .5em; // adding new rule for Button, but has effect only in context of this pattern
  }
}
